html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header {
	height: 500px;
}

#header_bar {
	height: 50px;
	width: 50%;
	background: transparent;
}

#header_nav {
	position: absolute;
	display: inline-block;
	z-index: 10;
	top: 0;
	right:0;
	padding-right: 5%;
}

#header_left {
	position: absolute;
	display: inline-block;
	z-index: 10;
	top: 0;
	left:0;
	padding-left: 5%;
}

#header_left img {
	max-width: 100%;
	max-height: 100%;
}

.landing {
	background: url("../img/laura.jpg") no-repeat top center fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

#header_logo {
	display: inline-block;
}

.header_nav ul {
    display: inline-block;
}

#header_nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header_nav_list li {
    float: right;
}

#header_nav_list li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#header_nav_list li a:hover {
	color: blue;
}


/* BODY */
.container {
	white-space: nowrap;
	width: 100%;
}

#intro {
	white-space: normal;
	width: 100%;
	height: 500px;
	color: white;
	background-color: #00457c;
	text-align: center;
}




#products_one {
	display: block;
}

#products_one_left {
	white-space: normal;
	display: inline-block;
	width: 50%;
	height: 400px;
	text-align: center;
}

#products_one_right {
	white-space: normal;
	display: inline-block;
	width: 50%;
	height: 400px;
	text-align: center;
}

#logos {
	list-style-type: none;
}


#svg_holder {
	height: 80px;
	background-color: red;
}

.svg_triangle {
	fill: white;
}

#contact {
	text-align: center;
}

#contact_content {
	display: block;
	width: 100%;
	height: 400px;
	background-color: red;
	text-align: middle;
}

#contact_cta {
	font-size: 28px;
	padding-top: 50px;
	margin-top: 0px;
}






footer {
	width: 100%;
	text-align: center;
	z-index: 999;
	bottom: 0;
}




